body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #666;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: Arial,'Hiragino Sans GB',Microsoft Yahei,Helvetica Neue,Helvetica,sans-serif !important;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
}


.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.scroll{
  overflow-y:auto; 
  -webkit-overflow-scrolling:touch;
}

//色值
$black: #373b3e;
$sc:#2c2b30;
$littlesc:#969a9d;
$bgcolor:#ebebeb;

//定位上下左右居中
@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
//上下居中
@mixin topcenter{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}
//左右居中
@mixin leftcenter{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
}
//flex布局
@mixin justify($value:space-between){
    display: flex;
    justify-content: $value;
}

//上下居中
@mixin align($type:center){
    display: flex;
    align-items: center;
}

//字体大小，颜色
@mixin sizeColor($size, $color){
    font-size: $size;
    color: $color;
}
//字体大小、行高、字体
@mixin fontStyle($size, $line-height, $family: 'Microsoft YaHei'){
    font:#{$size}/#{$line-height} $family;
}
//宽高
@mixin widthHeight($width,$height){
    width: $width;
    height: $height;
}

@mixin bg($url){
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


//按钮样式

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 1.92rem;
  height: 1.024rem;
  position: relative;
  cursor: pointer;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-light + .tgl-btn {
  background: #999999;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #1aad16;

}